<head>

  <title> {{ .Description }} </title>
  <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Sites I Want To Make </title>
    <meta name="description" content="Plans for future HTML creations.">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180"  href="favicon.ico"> 
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico"> 
    <link rel="icon" type="image/png" sizes="16x16"  href="favicon.ico"> 

    <!-- Facebook Open Graph tags -->
    <meta property="og:url" content="https://sites.joodaloop.com" />
    <meta property="og:title" content="Sites I Want To Make" />
    <meta property="og:description" content="Plans for future HTML creations." />
    <meta property="og:image" content="https://sites.joodaloop.com/media/card.jpeg" />


    <!-- Twitter Card (large image card) tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@joodaloop">
    <meta name="twitter:title" content="Sites I Want To Make">
    <meta name="twitter:description" content="Plans for future HTML creations." />
    <meta name="twitter:image" content="https://sites.joodaloop.com/media/card.jpeg" />

  <link rel="stylesheet" href=/css/style.css>

  <style>

:root {
  --link: darkblue;
}

body {
  font-family: "Avenir Next", Raleway, system-ui, sans-serif;
}

  </style>
  </head>

